{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"], //, "prettier"
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended"
    // "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "globals": {
    "Promise": true
  },
  "rules": {
    "no-var": "error",
    "@typescript-eslint/consistent-type-definitions": ["error", "interface"],
    "comma-dangle": ["error", "only-multiline"]
  }
}
